In [3]:
import pandas as pd

data1 = pd.read_csv('./실습용 파일/부품구입대장_전체.csv', encoding='cp949')
data1.head()

         신청날짜 사업장     품목코드          품목  수량     단가       금액
0  2019-08-23  석수  MF4-215       ANGLE  21  32000   672000
1  2019-09-09  석수  MF8-547          백관  44  56000  2464000
2  2019-06-18  석수  MF1-966         절연판  40  45000  1800000
3  2019-03-13  석수  MF6-543  P/Z O-RING  11  38000   418000
4  2019-05-11  석수  MF2-887         알코올  38   8000   304000

In [5]:
data1.shape

(3999, 7)

In [6]:
data1.columns

Index(['신청날짜', '사업장', '품목코드', '품목', '수량', '단가', '금액'], dtype='object')

In [ ]:
data1.loc[(data1)]